.section-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.board{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 240px; */
    padding: 10px;
    background-color: var(--bluer);
    border-radius: 2px;
    margin: 10px 0 10px;
}
.board-title{
    font-size: 16px;
    border-bottom: 1px solid var(--bordo);
    padding-bottom: 10px; 
}
.board-cards{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
}
.inner-card{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--bordo);
    border-radius: 2px 2px 0 0;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 95px;
    height: 85px;
    transition: all 0.4s;
}
.inner-card:hover{
    background-color: var(--bordo);
    border-color: #eee;
}
.inner-info{
    font-size: 14px;
    padding: 5px 0;
}
.board-line{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 0 0;
}
.board-link{
    padding: 5px;
    font-size: 15px;
    color: #eee;
    margin: 5px 0;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
}
.board-link:hover{
    background-color: var(--bordo);
}
.board-info{
    display: flex;
    width: 100%;
    font-size: 14px;
    margin: 10px 0 0 0;
    align-items: center;
}
.variation-sign{
    font-size: 16px;
}
.variation-red{
    color: red;
}
.variation-green{
    color: green;
}
.variation-blue{
    color: blue;
}
.line-content{
    font-size: 15px;
}

@media screen and (max-width: 1075px){
    .section{
        width: 100%;
        max-width: 500px;
        margin: 15px auto;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 565px){
    .board{
        width: 100%;
        max-width: 100%;
    }
}