.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
    align-items: flex-start;
}

.board{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    padding: 10px;
}
.board-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.board-title{
    font-size: 24px;
    font-weight: 500;
    color: var(--invisible-blue)
}
.btn-last-activities{
    background-color: var(--invisible-yellow);
    font-weight: 500;
    color: var(--cultured)
}

@media screen and (max-width: 799px){
    .row{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 374px){
    .board-top{
        flex-direction: column;
        align-items: flex-start;
    }
}