.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--dark-blue);
}
.content {
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  position: relative;
}
.limit{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
